n8n/sync-freedom-leads.json
{
  "name": "סנכרון לידים - החופש לשווק",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "כל 15 דקות",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1ju5yOg87shipojMGApxtWXZanCHUR9weQJyVBDMtE4k"
        },
        "sheetName": {
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "מתעניינים"
        },
        "options": {}
      },
      "id": "google-sheets-read",
      "name": "קריאת גיליון מתעניינים",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lmcktwpwnahtoxglrzch.supabase.co/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "product",
              "value": "eq.freedom"
            },
            {
              "name": "select",
              "value": "email"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            }
          ]
        },
        "options": {}
      },
      "id": "get-existing-leads",
      "name": "שליפת לידים קיימים מ-Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get sheet rows from first input (Google Sheets)\nconst sheetRows = $('קריאת גיליון מתעניינים').all();\n// Get existing leads from second input (Supabase)\nconst existingLeads = $('שליפת לידים קיימים מ-Supabase').all();\n\n// Build set of existing emails\nconst existingEmails = new Set(\n  existingLeads\n    .map(item => (item.json.email || '').toLowerCase().trim())\n    .filter(e => e)\n);\n\n// Emails to skip\nconst skipEmails = new Set([\n  'tsi.pirsum@gmail.com',\n  'noam@tsi-pirsum.co.il'\n]);\n\nconst newLeads = [];\nconst newCustomers = [];\n\nfor (const row of sheetRows) {\n  const d = row.json;\n  const email = (d['מייל'] || '').toLowerCase().trim();\n  \n  if (!email || skipEmails.has(email) || existingEmails.has(email)) {\n    continue;\n  }\n\n  // Determine source\n  const utmSource = (d['utm source'] || d['utm_source'] || '').toLowerCase();\n  const source = (utmSource === 'facebook' || utmSource === 'fb' || utmSource === 'instagram' || utmSource === 'ig') ? 'campaign' : (utmSource ? 'other' : 'organic');\n\n  // Determine status\n  const purchased = (d['בוצעה רכישה?'] || '').toString();\n  const isPurchaser = purchased.includes('רכישה') || purchased.toLowerCase() === 'true' || purchased === 'כן';\n  const currentStatus = isPurchaser ? 'closed' : 'new';\n\n  // Extract name from email\n  const name = email.split('@')[0].replace(/[._-]/g, ' ');\n\n  // Parse created_at date\n  let createdAt = null;\n  const rawDate = d['נרשם בתאריך'] || '';\n  if (rawDate) {\n    // Try DD/MM/YYYY or other formats\n    const parts = rawDate.match(/(\\d{1,2})[\\/\\-\\.](\\d{1,2})[\\/\\-\\.](\\d{2,4})/);\n    if (parts) {\n      const day = parts[1].padStart(2, '0');\n      const month = parts[2].padStart(2, '0');\n      const year = parts[3].length === 2 ? '20' + parts[3] : parts[3];\n      createdAt = `${year}-${month}-${day}T00:00:00.000Z`;\n    } else {\n      // Try ISO or other standard format\n      const parsed = new Date(rawDate);\n      if (!isNaN(parsed.getTime())) {\n        createdAt = parsed.toISOString();\n      }\n    }\n  }\n\n  const lead = {\n    email: email,\n    name: name,\n    source: source,\n    product: 'freedom',\n    current_status: currentStatus,\n    ad_name: d['utm_content'] || null,\n    campaign_id: d['utm_campaign'] || null\n  };\n  if (createdAt) lead.created_at = createdAt;\n\n  newLeads.push(lead);\n\n  // If purchaser, also create customer record\n  if (isPurchaser) {\n    newCustomers.push({\n      email: email,\n      name: name,\n      product: 'freedom',\n      source: source\n    });\n  }\n}\n\nreturn [{ json: { newLeads, newCustomers, newLeadsCount: newLeads.length, newCustomersCount: newCustomers.length } }];"
      },
      "id": "compare-and-map",
      "name": "השוואה ומיפוי לידים חדשים",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-leads",
              "leftValue": "={{ $json.newLeadsCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-leads",
      "name": "יש לידים חדשים?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lmcktwpwnahtoxglrzch.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.newLeads) }}",
        "options": {}
      },
      "id": "post-leads",
      "name": "שליחת לידים ל-Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-customers",
              "leftValue": "={{ $('השוואה ומיפוי לידים חדשים').item.json.newCustomersCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-customers",
      "name": "יש לקוחות חדשים?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lmcktwpwnahtoxglrzch.supabase.co/rest/v1/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtY2t0d3B3bmFodG94Z2xyemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1OTg5NDQsImV4cCI6MjA4OTE3NDk0NH0.S-AOhUHHl-P_l_1O194OGvGFoK09y7i1lKQu7CsB1rk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('השוואה ומיפוי לידים חדשים').item.json.newCustomers) }}",
        "options": {}
      },
      "id": "post-customers",
      "name": "שליחת לקוחות ל-Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ]
    }
  ],
  "connections": {
    "כל 15 דקות": {
      "main": [
        [
          {
            "node": "קריאת גיליון מתעניינים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "קריאת גיליון מתעניינים": {
      "main": [
        [
          {
            "node": "שליפת לידים קיימים מ-Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "שליפת לידים קיימים מ-Supabase": {
      "main": [
        [
          {
            "node": "השוואה ומיפוי לידים חדשים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "השוואה ומיפוי לידים חדשים": {
      "main": [
        [
          {
            "node": "יש לידים חדשים?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "יש לידים חדשים?": {
      "main": [
        [
          {
            "node": "שליחת לידים ל-Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "יש לקוחות חדשים?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "יש לקוחות חדשים?": {
      "main": [
        [
          {
            "node": "שליחת לקוחות ל-Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}